/* 

Modules / Components

*/

/* Navigation */
header {
    background-color: bisque;
    width: 100%;
}
header h1 {
    margin: 0;
    display: inline;
}
nav {
    display: inline;
}
nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    background-color: royalblue;
    list-style-type: none;
    padding: 8px 0;
    text-align: center;
}

nav ul li a{ 
    color: white;
    text-decoration: none;
}


/* banner */
/* h2 has margin and it overflows in the .banner */
.banner {
    overflow: hidden;
    margin: 0;
    background-color: burlywood;
    height: 20em;
}




/* article */
.article {
    background-color: lightgray;
    margin: 0.5em;
    padding: 0.5em;
}