/* 

Layout

*/
/* header */
/* Navigation */
header {
    background-color: bisque;
    width: 100%;
}
header h1 {
    margin: 0;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav ul {
    display: flex;
    flex-direction: column;
}


/* container */
.container {
    display: flex;
}

@media screen and (min-width: 601px) {
    /* For tablets to mobile: */
    nav {
        flex-direction: row;
    }
    nav ul {
        flex-direction: row;
    }
}
@media screen and (min-width: 769px) {
    /* For desktop to tables: */
    nav {
        flex-direction: row;
    }
    nav ul {
        flex-direction: row;
    }
}

footer {
    background-color: palegoldenrod
}