/* 

Modules / Components

*/

/* Header */
nav ul {
    margin: 0;
    padding: 0;
}
nav ul li {
    background-color: royalblue;
    list-style-type: none;
    padding: 8px 8px;
    text-align: center;
}

nav ul li a{ 
    color: white;
    text-decoration: none;
}

/* Footer */
footer {
    background-color: palegoldenrod
}



/* banner */
.banner {
    overflow: hidden;
    margin: 0;
    background-color: burlywood;
    height: 20em;
}

/* article */
.article {
    background-color: lightgray;
    margin: 0.5em;
    padding: 0.5em;
}